<!DOCTYPE html>
<html lang="en-CA">
<head>
	<meta charset="utf-8">
	<title>Example Lab (Lab ???<!-- FIXME -->) - COMP 166</title>
	<meta name="viewport" content="width=device-width"/>
	<!-- FIXME: change the template part of the base to the lab's containing folder. -->
	<base href="https://camosun-cs.github.io/comp-166/labs/template/" target="_blank"/>
	<link rel="stylesheet" href="../template/bundle.css"/>
	<!-- include additional styles inline here if necessary
		<style>...</style>
	-->
</head>
<body>
	<header>
		<h1>COMP 166 - Lab ???<!-- FIXME --> - Example Lab</h1>
		<nav><ol>
			<li><a href="#outcomes">Learning Outcomes and Introduction</a></li>
			<li><a href="#task1"><strong>Task 1</strong>: Example Task</a></li>
			<li><a href="#submission">Submission</a></li>
		</ol></nav>
	</header>

	<section id="outcomes">
		<h2>Learning Outcomes and Introduction</h2>
		<p>In this lab assignment you will learn about:</p>
		<ul>
			<li>example outcome</li>
		</ul>
	</section>

	<section id="task1">
		<h2>Task 1: Example Task</h2>
		<figure><img src="http://dummyimage.com/800x192&amp;text=Header+Graphic" height="192" width="800" alt="example header graphic" /></figure>
		<p>Preamble</p>
		<ol class="instructions">
			<li>Steps</li>
			<li>Steps</li>
		</ol>
	</section>

	<section id="submission">
		<h2>Submission</h2>
		<p>
			Completing all tasks in this lab should result in <strong><!-- FIXME -->???</strong> separate files within a single folder named like <samp>LastnameFirstname_lab?<!-- FIXME --></samp>. Compress the folder into a ZIP archive and upload it to the D2L assignment.
		</p>
		<p>
			The marks for this lab are heavily weighted towards good coding practice and style. Pay attention to your code formatting, use comments to clarify your code, and make sure you are using defines, arrays, loops, and functions effectively.
		</p>
		<p>
			<b>NOTE</b>: This assignment is to be done <em>individually</em>. You can help one another with problems and questions, but in the end everyone must write and submit their own code.
		</p>
		<table class="marks">
			<thead>
				<tr><th>Criteria</th><th>Marks</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>Programs compile and run without error</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Good coding style</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Task requirements met or exceeded</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Learning Outcomes achieved</td>
					<td>3</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th>
					<td>6</td>
				</tr>
			</tfoot>
		</table>
	</section>

	<script src="../template/bundle.js" async defer></script>
	<!-- additional scripts can be added here if necessary -->
</body>
</html>
